@font-face {
    font-family: 'Comic Sans' ;
    src: url(COMIC.TTF) format('truetype');
    font-weight:normal;
    font-style:normal;       
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
}
header{
    background-color: black;
    height: 150px;
    
}
header > h1{
text-align: center;
font-family: 'Courier New', Courier, monospace;
color: rgba(255, 255, 255, 0.788);
font-variant: small-caps;
font-size: 64px;
padding-top: 50px;
}
header > p{
    color: white;
    text-align: center;
    padding-bottom:50px;
}

header > p > a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
.texto, .imagem{
    font-family: 'Comic Sans';
    font-size: 18px;
    line-height: 2.5em;
    font-style: italic;
    padding-top: 10vh;
    padding-bottom: 10vh; 
    padding-left: 30px;
     
}
.texto{
    
}
.imagem{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    
}
.imagem > p{
    background-color: black;
    width:400px
}
footer{
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 2px;
}